.links_title {
  top: 18vh;
  font-family: 'Lato', Helvetica, sans-serif;
  font-weight: 700;
  color: #000;
  font-size: 48px;
  -webkit-transition: .4s ease-out;
  -moz-transition: .4s ease-out;
  -o-transition: .4s ease-out;
  transition: .4s ease-out;
  left: 270px;
  position: absolute;
  opacity: 0;
}

.links_title--display {
  animation: KittensFadeIn .4s linear;
  animation-fill-mode: both;
  opacity: 1;
  animation-delay: .4s
}

.links_container {
  position: absolute;
  opacity: 0;
  top: 30vh;
  font-family: 'Lato', Helvetica, sans-serif;
  font-weight: 700;
  color: #000;
  font-size: 18px;
  -webkit-transition: .4s ease-out;
  -moz-transition: .4s ease-out;
  -o-transition: .4s ease-out;
  transition: .4s ease-out;
  left: 270px;
  letter-spacing: 1px;
  line-height: 200%;
}
.links_container--display {
  animation: KittensFadeIn .4s linear;
  animation-fill-mode: both;
  opacity: 1;
  animation-delay: .4s
}
.links_link {
  color: #000;
}
.links_link:hover {
  text-decoration: none;
  color: #000;
}
.links_row {
  display: flex;
}
.links_line {
  position: inline-block;
  width: 14px;
  margin-top:14px;
  border-top: 2px solid #000;
  -webkit-transition: .25s ease-out;
  -moz-transition: .25s ease-out;
  -o-transition: .25s ease-out;
  transition:.25s ease-out;
  margin-right: 4px;
}
.links_row:hover .links_line {
  width: 28px;
}


@media screen and (max-width: 992px) {
  .links_title,
  .links_container {
    left: 50px;
  }
}