html, body{
  background-color: #000;
  width:100vw;
  overflow-x:hidden;
  }

  /*remove gutters on bootstrap grid*/
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7,
.col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5,
.col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12,
.col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
  padding-left:0px;
  padding-right:0px;
}
.row{
  margin-left:0px;
  margin-right:0px;
}

.video{
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

@media handheld, screen and (max-width: 1025px){
  .bannerimage{
        background-attachment: scroll!important;
  }
}

.thumbnail img{
  height:200px;
  margin-left:5px;
  margin-right:5px;
}

.thumbnail{
  display:inline-block;
  border: none;
  background-color:transparent;
}

.kittens_header{
  width: 100%;
  text-align: center;
  color: #af9759;
  font-size: 2em;
  letter-spacing: 5px;
  white-space: nowrap;
  font-weight: 700;
  font-family: 'Lato', Helvetica;
  margin-bottom: 1em;
}

.kittens_body__wrapper{
  margin-top: 50px;
  padding-bottom: 100px;
}

.kittens_wrapper{
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

.kittens_container{
  width: 250px;
  display: inline-block;
  border: 1px solid #af9759;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}

.kittens_title{
  width: 100%;
  text-align: center;
  color: #af9759;
  font-size: 1em;
  letter-spacing: 5px;
  white-space: nowrap;
  font-weight: 700;
  font-family: 'Lato', Helvetica;
}
.kittens_subtitle{
  width: 100%;
  text-align: center;
  color: #af9759;
  font-size: 1em;
  letter-spacing: 5px;
  white-space: nowrap;
  font-family: 'Lato', Helvetica;
  margin-bottom: 5px;
}

.kittens_image_large{
  width: 100%;
}

.kittens_container__wide{
  width: 100%;
  display: inline-block;
  border: 1px solid #af9759;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}

.custom_image__short{
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.kittens_container__left{
  margin-bottom: 25px;
  border: 1px solid #af9759;
}

@media screen and (max-width: 992px) {
  .kittens_wrapper{
    padding-left: 0px;
    padding-right: 0px;
  }
}

/* --- Sessions --- */

.sessions_column{
  height: calc(100vh - 75px);
  overflow: hidden;
}

.sessions_column_inner{
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  transform: scale(1,1);
  -webkit-transition: .4s ease-out;
  -moz-transition: .4s ease-out;
  -o-transition: .4s ease-out;
  transition: .4s ease-out;
}
.sessions_column_inner:hover{
  transform: scale(1.1,1.1);
}

@media screen and (max-width: 768px) {
  .sessions_column{
    height: calc(33vh - 18.75px);
    overflow: hidden;
  }
}

/* --- Menu --- */
.menu{
  width: 260px;
  height: 100%;
  background-color: rgba(24, 24, 24, 1);
  position: fixed;
  padding-top: 75px;
  top: 0px;
  font-size: 16px;
  font-family: 'Lato', Helvetica;
  text-align: center;
  -webkit-transition: .4 ease-out;
  -moz-transition: .4s ease-out;
  -o-transition: .4s ease-out;
  transition: .4s ease-out;
  z-index: 12;
  -webkit-box-shadow:0px 10px 50px 10px rgba(0,0,0,0.5);
  -moz-box-shadow:0px 10px 50px 10px rgba(0,0,0,0.5);
  box-shadow: 0px 10px 50px 10px rgba(0,0,0,0.5);
}

.menu_select{
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
}

.menu_outlink{
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
  background-color: #af9759;
}
.menu_outlink__image{
  height: 10px;
  margin-bottom: 4px;
}

.menu_indicator{
  top: 12px;
  position: absolute;
  width: 100%;
  border-right: 8px solid #af9759;
  border-left: 8px solid #af9759;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.menu_social_icon{
  height: 25px;
  width: 25px;
  margin: 10px;
  fill: #fff !important;
}

.menu_social_icon:hover{
  stroke: #af9759;
}

.menu_email{
  font-family: 'Lato', Helvetica;
  color: #af9759;
}

.menu_goldtext{
  color: #af9759;
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
  cursor: default;
}

.menu_link,
.menu_link:hover,
.menu_link:focus,
.menu_link:active{
  text-decoration: none;
}



.custom_all {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}
.custom_wrapper {
  padding: 14px;
  height: 500px;
  color: #af9759;
}
.custom_subwrapper {
  border: 1px solid #af9759;
  height: 100%;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.custom_container {
  width: 100%;
  height: calc(100% - 54px);
  overflow: hidden;
}
.custom_image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: .2s ease-out;
  -moz-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  transition: .2s ease-out;
}
.custom_image:hover{
  transform: scale(1.05,1.05);
}
.custom_title {
  text-align: center;
  font-weight: 600;
  font-size: 17px;
  font-family: 'Lato', Helvetica, sans-serif;
}
.custom_subtitle {
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  font-family: 'Lato', Helvetica, sans-serif;
  margin-bottom: 14px;
}